/readthedocs/code-tabs/java/.gradle
/readthedocs/code-tabs/java/build


# eclipse editor files
/readthedocs/code-tabs/java/.classpath
/readthedocs/code-tabs/java/.project
/readthedocs/code-tabs/java/.settings
/readthedocs/code-tabs/java/bin

# virtual environment that sphinx and its dependencies are in
/readthedocs/.venv*

