.gradle
build/
/lib/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/bin/

# eclipse project files
.project
.classpath
.settings/

# idea project files
*.iml
*.ipr
*.iws
